[Unit]
Description={{{ID}}} accuser service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=always
RestartSec=20

Environment="HOME={{{ROOT_DIR}}}/data"
Environment=TEZOS_LOG='* -> debug'
ExecStart={{{ROOT_DIR}}}/bin/accuser --remote-signer {{{model.REMOTE_SIGNER_ADDR}}} run {{{configuration.ACCUSER_STARTUP_ARGS__CLI_ARGS}}}

{{#model.SERVICE_CONFIGURATION_ACCUSER__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION_ACCUSER__ARRAY}}

[Install]
WantedBy=default.target