[Unit]
Description={{{ID}}} baker service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=always
RestartSec=20

Environment="HOME={{{ROOT_DIR}}}/data"
Environment=TEZOS_LOG='* -> {{{model.BAKER_LOG_LEVEL}}}'
ExecStart={{{ROOT_DIR}}}/bin/baker --remote-signer {{{model.REMOTE_SIGNER_ADDR}}} run with local node {{{ROOT_DIR}}}/data/.tezos-node {{{model.KEY_ALIASES__CLI_ARGS}}} --votefile {{{ROOT_DIR}}}/data/vote-file.json {{{model.BAKER_STARTUP_ARGS__CLI_ARGS}}}

{{#configuration.SERVICE_CONFIGURATION_BAKER__ARRAY}}
{{{key}}}={{{value}}}
{{/configuration.SERVICE_CONFIGURATION_BAKER__ARRAY}}

[Install]
WantedBy=default.target