<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{{ID}}}-xtz-baker</string>

    <key>UserName</key>
    <string>{{{USER}}}</string>
    <key>GroupName</key>
    <string>{{{USER}}}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{{ROOT_DIR}}}/bin/baker</string>
        <string>--remote-signer</string>
        <string>{{{model.REMOTE_SIGNER_ADDR}}}</string>
        <string>run</string>
        <string>with</string>
        <string>local</string>
        <string>node</string>
        <string>{{{ROOT_DIR}}}/data/.tezos-node</string>
        <string>{{{model.KEY_ALIASES}}}</string>
        <string>--votefile</string>
        <string>{{{ROOT_DIR}}}/data/vote-file.json</string>
        {{#model.BAKER_STARTUP_ARGS}}
        <string>{{{.}}}</string>
        {{/model.BAKER_STARTUP_ARGS}}
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{{ROOT_DIR}}}/data</string>
        <key>TEZOS_LOG</key>
        <string>* -> {{{model.BAKER_LOG_LEVEL}}}</string>
        {{#configuration.SERVICE_CONFIGURATION_BAKER__ARRAY}}
        <key>{{{key}}}</key>
        <string>{{{value}}}</string>
        {{/configuration.SERVICE_CONFIGURATION_BAKER__ARRAY}}
    </dict>

    <key>WorkingDirectory</key>
    <string>{{{ROOT_DIR}}}/data</string>

    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>1</integer>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/{{{ID}}}-xtz-baker.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/{{{ID}}}-xtz-baker.log</string>
</dict>
</plist>