[Unit]
Description={{{ID}}} baker service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=always
RestartSec=1

Environment="HOME={{{ROOT_DIR}}}/data"
Environment=TEZOS_LOG='* -> debug'
ExecStart={{{ROOT_DIR}}}/bin/baker --remote-signer {{{model.REMOTE_SIGNER_ADDR}}} run with local node {{{ROOT_DIR}}}/data/.tezos-node baker

{{#model.SERVICE_CONFIGURATION_BAKER__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION_BAKER__ARRAY}}

[Install]
WantedBy=default.target