[Unit]
Description={{{ID}}} baker-next service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=always
RestartSec=1

Environment=TEZOS_LOG='* -> debug'
ExecStart={{{ROOT_DIR}}}/bin/baker-next run with local node {{{ROOT_DIR}}}/data baker

{{#model.SERVICE_CONFIGURATION_BAKER__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION_BAKER__ARRAY}}

[Install]
WantedBy=default.target