[Unit]
Description={{{ID}}} node service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=always
RestartSec=1

ExecStart={{{ROOT_DIR}}}/bin/node run --data-dir {{{ROOT_DIR}}}/data --rpc-addr {{{model.RPC_ADDR}}} {{{configuration.STARTUP_ARGS__CLI_ARGS}}}

{{#model.SERVICE_CONFIGURATION__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION__ARRAY}}

[Install]
WantedBy=default.target