[Unit]
Description={{{ID}}} vdf service
After=network.target
StartLimitIntervalSec=0

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=always
RestartSec=20

Environment="HOME={{{ROOT_DIR}}}/data"
Environment=TEZOS_LOG='* -> {{{model.VDF_LOG_LEVEL}}}'
ExecStart={{{ROOT_DIR}}}/bin/baker-next run vdf {{{configuration.VDF_STARTUP_ARGS__CLI_ARGS}}}

{{#configuration.SERVICE_CONFIGURATION_VDF__ARRAY}}
{{{key}}}={{{value}}}
{{/configuration.SERVICE_CONFIGURATION_VDF__ARRAY}}

[Install]
WantedBy=default.target